body {
  padding-top: 70px;
  margin:0;
  font-family: "Lato", sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  background-color: azure;
}

div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding:10px 5%;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h3,
h4,
h5 {
  padding:10px 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.navbar-nav {
  background-color: powderblue;
  margin-top: 0px;
}

.navbar-header {
  padding-left: none;
  padding-right: none;
}

.navbar-default {
  border: none;
  border-bottom: none;
  background: powderblue;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 80px;
  height: 80px;
}

.navbar-brand {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  text-align: left;
  padding: none; 
}

.navbar-toggle {
  border: none;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}
.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: grey;
  line-height: 28px;
  padding-left: 10px;
}

.role {
  font-style: italic;
  font-size: 18px;
  color: grey;
  line-height: 28px;
  padding-left: 10px;
}

.powderblue {
  background-color: powderblue;
  padding-top: 10px;
}

.darkgrey-text {
  color: grey;
}

.blue-text {
  color: deepskyblue;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

#header {
  background-image: url('../images/abstract-background.jpg');
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
}

.biopic {
  float: left;
  width: 200px;
  border: solid grey 2px;
  display: none;
}

.banner {
  padding-left: 0px;
  padding-right: 0px;
}

span {
  padding: 2px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

/*Increase font size when screen over 1024px wide*/
@media only screen and (min-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
  .role {
    font-size: 22px;
  }
  .welcome-message {
    font-size: 22px;
  }
  .darkgrey-text {
    font-size: 18px;
  }
  .white-text {
    font-size: 18px;
  }
  a {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .date-text {
    font-size: 18px;
  }
  .location-text {
    font-size: 18px;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
